public/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Ciggin' it</title>
    <meta charset="utf-8">
    <meta content="telephone=no">
    <meta name="viewport" content="width=device-width">
    <link href="./css/blocks.css" type="text/css" rel="stylesheet">
    <link href="./css/blocks.uri.css" type="text/css" rel="stylesheet">
    <!-- link(href='./css/fonts.css', type="text/css", rel="stylesheet")-->
    <!-- include _favicon.jade--><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <script>
      (function(){
          function addFont() {
              var style = document.createElement('style');
              style.rel = 'stylesheet';
              document.head.appendChild(style);
              style.textContent = localStorage.sourceSansPro;
          }
      
          try {
              if (localStorage.sourceSansPro) {
                  // The font is in localStorage, we can load it directly
                  addFont();
              } else {
                  // We have to first load the font file asynchronously
                  var request = new XMLHttpRequest();
                  request.open('GET', '/css/fonts.css', true);
      
                  request.onload = function() {
                      if (request.status >= 200 && request.status < 400) {
                          // We save the file in localStorage
                          localStorage.sourceSansPro = request.responseText;
      
                          // ... and load the font
                          addFont();
                      }
                  }
      
                  request.send();
              }
          } catch(ex) {
              // maybe load the font synchronously for woff-capable browsers
              // to avoid blinking on every request when localStorage is not available
          }
      }());
    </script>
  </head>
  <body>
    <div class="appendix">
      <div class="appendixHeader">Giggin.it Pages</div>
      <div class="appendixItem"><a href="./index-main">Landing Page</a></div>
      <div class="appendixItem"><a href="./index-login">Login screen</a></div>
      <div class="appendixItem"><a href="./index-signup">Sign Up screen</a></div>
      <div class="appendixItem"><a href="./index-signup2">Sign Up step two screen</a></div>
      <div class="appendixItem"><a href="./index-signup-error">Sign Up screen with error</a></div>
      <div class="appendixItem"><a href="./index-recovery">Password recovery</a></div>
      <div class="appendixItem"><a href="./index-recovery2">Password recovery step two</a></div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="./js/vendor.js"></script>
    <script src="./js/index.js"></script>
  </body>
</html>

assets/template/index.jade
extends _layout

block content
    .appendix
        .appendixHeader
            | Giggin.it Pages
        .appendixItem
            a(href="./index-main") Landing Page
        .appendixItem
            a(href="./index-login") Login screen
        .appendixItem
            a(href="./index-signup") Sign Up screen
        .appendixItem
            a(href="./index-signup2") Sign Up step two screen
        .appendixItem
            a(href="./index-signup-error") Sign Up screen with error
        .appendixItem
            a(href="./index-recovery") Password recovery
        .appendixItem
            a(href="./index-recovery2") Password recovery step two
